@import "tailwindcss";

@font-face {
    font-family: 'Barlow';
    src: url('/fonts/Barlow-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
}

@theme {
    --font-poppins: "Poppins", sans-serif;
    --font-barlow: "Barlow", sans-serif;

    /* Custom Colors RevDrive */
    --color-latar: #13161f;
    --color-sidebar: #0f1117;
    --color-card: #1a1d27;
    --color-orange: #f97316;
    --color-orange-gelap: #ea580c;
    --color-teks: #e5e7eb;
    --color-teks-redup: #9ca3af;
    --color-garis: #ffffff0d;
}

body {
    @apply font-barlow;
    background-color: #13161f;
    color: #e5e7eb;
    margin: 0;
}